/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ryelle-notice-block {
	--ryelle-notice-block--border: rgb(0 83 138);
	--ryelle-notice-block--bg: rgb(168 236 255);

	&.is-success-notice {
		--ryelle-notice-block--border: rgb(0 84 10);
		--ryelle-notice-block--bg: rgb(190 238 188);
	}

	&.is-help-notice {
		--ryelle-notice-block--border: rgb(107 43 121);
		--ryelle-notice-block--bg: rgb(255 211 255);
	}

	&.is-error-notice {
		--ryelle-notice-block--border: rgb(135 23 47);
		--ryelle-notice-block--bg: rgb(255 206 208);
	}

	&.is-warning-notice {
		--ryelle-notice-block--border: rgb(87 66 41);
		--ryelle-notice-block--bg: rgb(252 241 182);
	}

	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--wp--style--block-gap, 1em);
	padding: 1em;
	border: 2px solid var(--ryelle-notice-block--border);
	background-color: var(--ryelle-notice-block--bg);

	> * {
		align-self: start;
	}

	p:first-child {
		margin-block-start: 0;
	}

	p:last-child {
		margin-block-end: 0;
	}

	&.alignleft,
	&.alignright {
		max-width: 420px;
	}
}

.wp-block-ryelle-notice-block__icon {
	svg {
		display: block;
		height: 2em;
		width: 2em;
		fill: var(--ryelle-notice-block--border);
	}
}

.wp-block-ryelle-notice-block__content {
	align-self: center;
}
